[Desktop Entry]
Encoding=UTF-8
Name=premiumcoin
Comment=premiumcoin P2P Cryptocurrency
Comment[fr]=premiumcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=premiumcoin, eşten eşe kriptografik sanal para birimi
Exec=premiumcoin-qt %u
Terminal=false
Type=Application
Icon=premiumcoin128
MimeType=x-scheme-handler/premiumcoin;
Categories=Office;Finance;
